@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* ***** Common Css **** */
:root {
    scroll-behavior: initial;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
}
ol,
ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
a {
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    text-decoration: none;
}

body {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #212121;
    color: #fff;
    text-decoration: none;
}


a{
    color: #e7b710;
}

a:hover{
    color: #e7b710;
}

a:visited{
    color: #e7b710;
}
